<div class=" header row" style="margin-left:0px; width: 105%;">
  <div class="col-lg-2 title">
    <span>Pathfinder Algorithm</span>
  </div>
  <div class="col-lg-6 visualise">
    <button class=" hvr-grow btn ">Visualize Alogorithm</button>
  </div>
  <div class="col-lg-4 algorithm">
    <select name="algorithm" id="">
      <option value="Dijkstra">Dijkstra</option>
      <option value="A*">A*</option>
      <option value="Straight">Straight</option>
    </select>
  </div>
</div>
  <div class="row" style="margin-left:130px;width: 100%;">
    <div class=" col-lg-12">
      <div class="row legends">
        <div class="img source"> </div>
        <div class="img destination"> </div>
        <div class="img shortest"> </div>
        <div class="img alternate"> </div>
      </div>
    </div>
  </div>
  <div class="row container" style="margin-left:110px;">
    <div class="col-lg-12">
      <hr style="border: 1px solid gray;opacity: 50%;">
    </div>
  </div>


